@import "bourbon/_bourbon.scss";
@import "utils.scss";
@import "mixins.scss";
/*
 ========================================================================
 common style for all the pages
 ------------------------------------------------------------------------
 */

h1 {@include font-size(45px);font-family: $primary-font; text-transform: uppercase;}

h2 {@include font-size(24px);font-family: $primary-font; color:#333;}

h3 {@include font-size(30px);font-family: $primary-font;}

h4 {font-family: $primary-font;font-size: 20px;line-height: 30px;color: #999;}

h5 {@include font-size(18px); line-height: 30px;}

h6 {@include font-size(14px);font-weight: bold;text-transform: uppercase;}

p {@include font-size(16px);font-family: $primary-font;line-height: 30px;}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font;
	}
	color: $main-text;
	background: $body-bg;
}

a {
	color: $link;
	text-decoration: none;
	font-family: $secondary-font;
}

img {
	max-width: 100%;
}

h1, h2 {
	font-family: $secondary-font;
	font-weight: 600;
	font-size: 16px;
}

small{
    @extend .fw-300;
    font-size: 12px;
}

@include scrollbars(.5em, slategray);