@import "./utils.scss";
@import "./mixins.scss";
/** font-sizes **/

.fnt-18 {@include font-size(18px);}

.fnt-16 {@include font-size(16px);}

.fnt-14 { @include font-size(14px);}

.fnt-13 {@include font-size(13px);}

.fnt-12 {@include font-size(12px);}

.fnt-26 {@include font-size(26px);}

.fnt-24 {@include font-size(24px);}

.fnt-20 {@include font-size(20px);}

.fnt-21 {@include font-size(21px);}

/** background colors **/

.bg-clr {background: #f4f4f4;}

.bg-clrwht {background: #fff;}

.bg-clrfa {background: #fafafa;}

.bg-lgt-gry {background: #cccccc;}

.bg-333 {background: #333;}

.bg-pinkf05{background: #f05567;}

.bg-brand {background: #f05568;}
/** colors **/

.clr-gry {color: #999;}

.clr-white {color: #fff;}

.clr-thickgray {color: #666;}

.clr-ltgry {color: #a2a2a2;}

.clr-lteblue {color: #6ac4ef;}

.clr-pink {color: #f05568;}

.clr-pink666 {color: #ff6666;}

.clr-pinkf05{color:#f05567;}


/** line-heights **/
.line-ht18{
	line-height: 18px !important;
}
.lne-hgt{line-height: 30px;}

.lne-hgt34{line-height:34px;}

/** block and inline elements **/

.text-transfrm {text-transform: uppercase;}

.block-inline{display: inline-block;}
.inline-flex{display: inline-flex}
/** overide padding **/

.padding-rgt0 {padding-right: 0;}

.padding-lft0 {padding-left: 0;}

.padding0 {padding-top: 0; padding-bottom: 0;}

.padding-rgt10 {padding-right: 10px;}
.padding-rgt20 {padding-right: 20px;}

/** margins **/
.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}
/** borders **/

.brder-rght {border-right: 1px solid #dedede;}


.brder-lft {border-left: 1px solid #dedede;}

.brder-lft-e3{border-left:1px solid #e3e3e3;}

.ovflow{overflow: hidden;}

.brder-0{
	border : 0px;
	border-bottom: 0px !important;
}
.vertcle-top{ vertical-align: top;}

/** width **/

.wdth100p{width:100%;}
.width50 { min-width: 50px;}
.wdth100{
	min-width: 100px;
}
.br-50p{
	border-radius: 50%;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.italic{
	font-style: italic;
}

/** flex **/
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap : wrap;
}
.inline-table{
	display: inline-table;
}

/** weight **/
.fw-300{
	font-weight: 300;
}
.fw-400{
	font-weight: 400;
}

.fw-500{
	font-weight: 500;
}

.fw-600{
	font-weight: 600;
}

.fw-700{
	font-weight: 700;
}


/** other utils **/

.light-text{
	color: #a2a2a2;
	@include font-size(12px);
	@extend .fw-300;
	*{
		@extend .fw-300;
		color: #a2a2a2;
	}
}
.big-text{
	font-size: 16px !important;
}

.line-through{
	text-decoration: line-through;
}

.checkbox-custom{
    opacity: 0;
    position: absolute;   
}

.center-items{
	display: inline-flex;
	justify-content : center;
	align-items : center;
}

@mixin file-type(){
    content: '';
    height: 15px;
    display: block;
    position: relative;
    bottom: 10px;
    right: -10px;
    width: 30px;
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}
.file-type{
	display: block;
	&.docx{
		&:after{
		    background: #3cb1e6;
		    background-image: url(../images/DOCX.png);
		    @include file-type();
		}
	}
	&.xlsx{
		&:after{
		    background: #16aa4a;
		    background-image: url(../images/XLSX.png);
		    @include file-type();
		}
	}
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}