$body-bg : #f2f2f2;
$menu-bg : #363632;
$menu-border-color : #242423;
// variables - colors

$main-text: #7f8c97; // main text
$link: #545654; // anchor tags
$background: #e9f0f5; // body background color

$color : #3cb1e6; // blue dark

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
// layout - breakpoints
   
$S:     480px;   
$M:     768px;     
$L:     1170px; 